<footer>
    <div class="container">
        <p class="mb-0">© {{ "now"|date("Y") }} <a href="{{ path('menucraft_copyright') }}" class="link-secondary text-decoration-none">Menucraft</a> - Tous droits réservés.</p>
    </div>
</footer>
